@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 300;
  src:
    url("ibmplexmono-light-webfont.woff2") format("woff2"),
    url("ibmplexmono-light-webfont.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src:
    url("ibmplexmono-regular-webfont.woff2") format("woff2"),
    url("ibmplexmono-regular-webfont.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src:
    url("ibmplexmono-medium-webfont.woff2") format("woff2"),
    url("ibmplexmono-medium-webfont.woff") format("woff");
  font-display: fallback;
}

/* .font-custom-mono {
  font-family: "IBM Plex Mono", "Malayalam Sangam MN", "monospace";
} */
