@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 300;
  font-style: normal;
  src:
    url("ibmplexserif-light-webfont.woff2") format("woff2"),
    url("ibmplexserif-light-webfont.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-style: normal;
  src:
    url("ibmplexserif-regular-webfont.woff2") format("woff2"),
    url("ibmplexserif-regular-webfont.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 700;
  font-style: normal;
  src:
    url("ibmplexserif-medium-webfont.woff2") format("woff2"),
    url("ibmplexserif-medium-webfont.woff") format("woff");
  font-display: fallback;
}

/* .font-custom-serif {
  font-family: "IBM Plex Serif", "American Typewriter", "Verdana", "Charter",
    "Georgia", "serif";
} */
